build
.env
coverage.out
*.coverprofile
client_secret.json
.credentials
debug
files/source-context.json
bazel*
.project
resources/signatures
bazel
bazel-bazel-test
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-vagrant
bazel-bazel-example
bazel-events
remote_build_execution_oauth_client.json
resources.tar